body {
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: $BottomBarHeight;
    right: $AsideWidth;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: $BottomBarHeight;
    background-color: #22313F;
    overflow: hidden;
    z-index: 2;
}


@media screen and (max-width: 640px) {
  #map {
      right: 0;
      bottom: 50%;
  }
}
