@import "../node_modules/normalize.css/normalize"; //Reset
@import "bourbon";
@import "neat";

//Settings
@import "MyMixin";
@import "Settings";

@import "Sidebar";
@import "Control";
@import "Layout";

//Bottom Content
.about {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 5px;
}
#github-link {
    color: white;
    vertical-align: middle;
    cursor: pointer;
}
#github-link:hover {
    color: #BE90D4;
}
.slider_main {
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    height: 100%;
}

.LoadingMask {
    display: none;
    .lmask {
        background-color: rgba(102, 102, 153, 0.5);
        z-index: 9998;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
    .loading {
        position: absolute;
        color: white;
        z-index: 9999;
        top: 50%;
        left: 50%;
    }
}
