#map {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
// Colour Legend
.busmain_legend {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  background-color: #FFF;

  .legend-title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .legend-scale {

    margin-left: 10px;
    margin-right: 10px;

    ul {
      margin: 0 0 5px;
      padding: 0;
      float: left;
      list-style: none;
      li {
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
        span {
          display: block;
          float: left;
          height: 16px;
          width: 30px;
          margin-right: 5px;
          margin-left: 0;
          border: 1px solid #999;
        }
      }
    }
  }
}
