
/************************** Font Setting *************************/
@font-face {
    font-family: Chunkfive;
    src: url(../Font/Chunkfive.otf);
}
@font-face {
    font-family: Geo;
    src: url(../Font/Geo.otf);
    font-style:normal;
}
@font-face {
    font-family: Geo;
    src: url(../../Font/Geo_Oblique.otf);
    font-style:oblique;
}
/***************************************************************/

#map {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

// Colour Legend
.busmain_legend {
  .legend-title {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  .legend-scale {

    margin-left: 10px;
    margin-right: 10px;

    ul {
      margin: 0 0 5px;
      padding: 0;
      float: left;
      list-style: none;
      li {
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px;
        color: white;
        span {
          display: block;
          float: left;
          height: 16px;
          width: 30px;
          margin-right: 5px;
          margin-left: 0;
          border: 1px hidden #999;
        }
      }
    }
  }
}

//Date Slider
.busmain_slider {

  width: 95%;

  input[type=range]{
    border: 1px hidden white;
    width: inherit;
  }
}

//Set Text

@mixin white-legend() {
  font-family: Geo;
  color: white;
  letter-spacing: 1px;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin white-text() {
  font-family: Geo;
  color: white;
  letter-spacing: 1px;
  font-size: xx-large;
  margin-top: 1%;
  margin-bottom: 1%;
}

.dateViewText{
  @include white-text();
}

.busmain_ridershipView{

  .ridershipViewLegend{
    @include white-legend();
  }

  .ridershipViewText{
    @include white-text();
  }
}

//Loading Mask

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.LoadingMask
{
  display: none;

  .lmask {
    background-color:rgba(102, 102, 153, 0.5);
    z-index:9998;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .loading {
  	position: absolute;
    z-index:9999;
  	top: 50%;
  	left: 50%;
  	width: 28px;
  	height: 28px;
  	margin: -14px 0 0 -14px;

    .spinner {
    	position: absolute;
    	left: 1px;
    	top: 1px;
    	width: 26px;
    	height: 26px;
    	animation: spin 1s infinite linear;
    }

    .maskedCircle {
    	width: 20px;
    	height: 20px;
    	border-radius: 12px;
    	border: 3px solid white;
    }

    .mask {
    	width: 12px;
    	height: 12px;
    	overflow: hidden;
    }
  }
}
