@import "../node_modules/normalize.css/normalize"; //Reset
@import "../bower_components/font-awesome/scss/font-awesome";
@import "bourbon";
@import "MyMixin";
@import "Control";

@import "Settings";
@import "neat";
@import "layout";

.about {
    position: absolute;
    top: 0;
    right:0;
    width: $AsideWidth;
    height: 100%;
}

.slider_main {
    position: absolute;
    top: 0;
    left: 0;
    right: $AsideWidth;
    height: 100%;
}

.category-bar {
  background-color: #6C7A89;
  @include SideBarText;
  @include span-columns(3);

  p{
    @include NoMargin();
  }
}

.route-btn {
  background-color: #663399;
  @include SideBarText;
  @include span-columns(1);

  height: 50px;
  width: 50px;

  @include margin(5px);
}

.route-btn:hover{
  background-color: #BF55EC;
  cursor:pointer;
}

.route-btn-selected {
  background-color: #BE90D4;
}

//Loading Mask
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.LoadingMask {
    display: none;
    .lmask {
        background-color: rgba(102, 102, 153, 0.5);
        z-index: 9998;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
    }
    .loading {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        width: 28px;
        height: 28px;
        margin: -14px 0 0 -14px;
        .spinner {
            position: absolute;
            left: 1px;
            top: 1px;
            width: 26px;
            height: 26px;
            animation: spin 1s infinite linear;
        }
        .maskedCircle {
            width: 20px;
            height: 20px;
            border-radius: 12px;
            border: 3px solid white;
        }
        .mask {
            width: 12px;
            height: 12px;
            overflow: hidden;
        }
    }
}
