
@mixin BigText() {
  color: white;
  letter-spacing: 1px;
  font-size: xx-large;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin MediumText() {
  color: white;
  letter-spacing: 1px;
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

@mixin SmallText() {
  color: white;
  letter-spacing: 1px;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

@mixin NoMargin() {
  @include margin(0);
}

@mixin SideBarText {
  color: white;
  text-align: center;
}
