@font-face {
  font-family: "SourceHanSansTC";
  font-style: normal;
  font-weight: normal;
  src: url("/font/SourceHanSansTC-Regular.otf") format("truetype");
}


@mixin BigText() {
  font-family: SourceHanSansTC;
  color: white;
  letter-spacing: 1px;
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin MediumText() {
  font-family: SourceHanSansTC;
  color: white;
  letter-spacing: 1px;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

@mixin SmallText() {
  font-family: SourceHanSansTC;
  color: white;
  letter-spacing: 1px;
  font-size: 0.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

@mixin NoMargin() {
  @include margin(0);
}

@mixin SideBarText {
  font-family: SourceHanSansTC;
  color: white;
  font-size: small;
  text-align: center;
}
