@import "bourbon";
@import "neat";

$column: 50px;
$gutter: 5px;
$grid-columns: 3;
$max-width: 600px;
$body-line-height: modular-scale(2) !default;

$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);


//////////Bus Map Settings//////////////
$BottomBarHeight : 57px;
$AsideWidth : 230px;

$AsideLegendHeight: 40px;
