aside {
    position: absolute;
    top: $AsideLegendHeight;
    bottom: $BottomBarHeight;
    right: 0;
    width: $AsideWidth;
    background-color: #22313F;
    overflow-y: auto;
    overflow-x:hidden;
    @include outer-container;
}

.sidebar-legend {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: $AsideWidth;
    background-color: #22313F;
    height: $AsideLegendHeight;
}

.category-bar {
    background-color: #6C7A89;
    @include SideBarText;
    @include span-columns(3);
    p {
        @include NoMargin();
    }
}

.route-btn {
    padding: 10px 0px;
    background-color: #663399;
    border-radius: 5px;
    @include SideBarText;
    @include span-columns(1);
    height: 60px;
    width: 60px;
    @include margin(5px);
}
.route-btn:hover {
    background-color: #BF55EC;
    cursor: pointer;
}
.route-btn-selected {
    background-color: #BE90D4;
}

////////////////////////// Selecting Mask //////////////////////////////

.sidebar-mask {
  display: none;
  position: absolute;
  top: $AsideLegendHeight;
  right: 0;
  bottom: $BottomBarHeight;
  width: $AsideWidth;
  background-color: rgba(103, 128, 159, 0.5);
  z-index: 1;
}

.route-back-btn {
    position: absolute;
    padding: 10px 0px;
    background-color: #663399;
    border-radius: 5px;
    @include SideBarText;
    height: 60px;
    width: 60px;
    @include margin(5px);
}
.route-back-btn:hover {
    background-color: #BF55EC;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
  aside {
      top: 60%;
      left: 0;
      width: 100%;
  }

  .sidebar-mask {
    top: 60%;
    left: 0;
    width: 100%;
  }

  .sidebar-legend{
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: 10%;
  }
}
