/************************** Font Setting *************************/
@font-face {
  font-family: Chunkfive;
  src: url(../Font/Chunkfive.otf); }

@font-face {
  font-family: Geo;
  src: url(../Font/Geo.otf);
  font-style: normal; }

@font-face {
  font-family: Geo;
  src: url(../../Font/Geo_Oblique.otf);
  font-style: oblique; }

/***************************************************************/
#map {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.busmain_legend .legend-title {
  margin-bottom: 5px;
  font-weight: bold;
  color: white; }

.busmain_legend .legend-scale {
  margin-left: 10px;
  margin-right: 10px; }
  .busmain_legend .legend-scale ul {
    margin: 0 0 5px;
    padding: 0;
    float: left;
    list-style: none; }
    .busmain_legend .legend-scale ul li {
      margin-left: 0;
      line-height: 18px;
      margin-bottom: 2px;
      color: white; }
      .busmain_legend .legend-scale ul li span {
        display: block;
        float: left;
        height: 16px;
        width: 30px;
        margin-right: 5px;
        margin-left: 0;
        border: 1px hidden #999; }

.busmain_slider {
  width: 95%; }
  .busmain_slider input[type=range] {
    border: 1px hidden white;
    width: inherit; }

.dateViewText {
  font-family: Geo;
  color: white;
  letter-spacing: 1px;
  font-size: xx-large;
  margin-top: 1%;
  margin-bottom: 1%; }

.busmain_ridershipView .ridershipViewLegend {
  font-family: Geo;
  color: white;
  letter-spacing: 1px;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 5px; }

.busmain_ridershipView .ridershipViewText {
  font-family: Geo;
  color: white;
  letter-spacing: 1px;
  font-size: xx-large;
  margin-top: 1%;
  margin-bottom: 1%; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.LoadingMask {
  display: none; }
  .LoadingMask .lmask {
    background-color: rgba(102, 102, 153, 0.5);
    z-index: 9998;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  .LoadingMask .loading {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin: -14px 0 0 -14px; }
    .LoadingMask .loading .spinner {
      position: absolute;
      left: 1px;
      top: 1px;
      width: 26px;
      height: 26px;
      animation: spin 1s infinite linear; }
    .LoadingMask .loading .maskedCircle {
      width: 20px;
      height: 20px;
      border-radius: 12px;
      border: 3px solid white; }
    .LoadingMask .loading .mask {
      width: 12px;
      height: 12px;
      overflow: hidden; }
