#map {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute; }

.busmain_legend {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  background-color: #FFF; }
  .busmain_legend .legend-title {
    margin-bottom: 5px;
    font-weight: bold; }
  .busmain_legend .legend-scale {
    margin-left: 10px;
    margin-right: 10px; }
    .busmain_legend .legend-scale ul {
      margin: 0 0 5px;
      padding: 0;
      float: left;
      list-style: none; }
      .busmain_legend .legend-scale ul li {
        margin-left: 0;
        line-height: 18px;
        margin-bottom: 2px; }
        .busmain_legend .legend-scale ul li span {
          display: block;
          float: left;
          height: 16px;
          width: 30px;
          margin-right: 5px;
          margin-left: 0;
          border: 1px solid #999; }

.busmain_slider {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  background-color: #FFF; }
  .busmain_slider input[type=range] {
    border: 1px solid white;
    width: 400px; }
